.detail {
  width: 1400px;
  margin: 0 auto;
  display: flex;
  gap: 50px;
  padding: 100px 0;
  align-items: start;
}
.detail .poster {
  position: sticky;
  top: 100px;
}
.detail .poster img {
  border-radius: 0 50px 0 50px;
  border: 5px solid #fff;
  width: 300px;
}
.detail .info {
  background: rgba(255, 255, 255, 0.85);
  padding: 50px;
  border-radius: 50px 0 50px 0;
}
.detail .info .sub-title {
  opacity: 0.5;
  font-weight: 700;
  margin-bottom: 10px;
}
.detail .title-box {
  padding: 20px 0;
  border-bottom: 1px dashed #333;
}
.detail .title-box h2 {
  font-size: 32px;
}
.detail .detail-box {
  font-weight: 700;
  font-size: 16px;
  padding: 20px 0;
  border-bottom: 1px dashed #333;
}
.detail .detail-box p {
}
.detail .genre {
  font-size: 16px;
  margin-right: 10px;
  display: inline-block;
  padding: 5px 10px;
  background: #0097dd;
  color: #fff;
  min-width: 50px;
  border-radius: 100px;
  text-align: center;
}
.bg {
  background-size: cover;
  background-position: center;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
}
.bg:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.cast-box {
  overflow: hidden;
  width: 940px;
}

.profile {
  width: 180px;
  aspect-ratio: 2 / 3;
  object-fit: cover;
}
.name {
  font-size: 14px;
}
